version: '3.8'

services:
 catalogdb:
  image: postgres

 basketdb:
  image: postgres

 distributedcache:
  image: redis

 orderdb:
  image: mcr.microsoft.com/mssql/server

 messagebroker:
  image: rabbitmq:3-management

 catalog.api:
  image: ${DOCKER_REGISTRY-}catalogapi
  build:
   context: ..
   dockerfile: eshop-microservices-updated/src/Services/Catalog/Catalog.API/Dockerfile

 basket.api:
  image: ${DOCKER_REGISTRY-}basketapi
  build:
   context: ..
   dockerfile: eshop-microservices-updated/src/Services/Basket.API/Basket.API/Dockerfile

 discount.grpc:
  image: ${DOCKER_REGISTRY-}discountgrpc
  build:
   context: .
   dockerfile: src/Services/Discount/Discount.Grpc/Dockerfile

 ordering.api:
  image: ${DOCKER_REGISTRY-}orderingapi
  build:
   context: ..
   dockerfile: eshop-microservices-updated/src/Services/Ordering/Ordering.API/Dockerfile

volumes:
 postgres_catalog:
 postgres_basket:
 discount_data:




